
html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.globalSpin {
  width: 100%;
  margin: 40px 0 !important;
}

ul,
ol {
  list-style: none;
}
:global {
  .ant-spin-container {
    overflow: visible !important;
  }
  .ant-layout{
    background-color: #fff !important;
  }
  .ant-advanced-search-form .ant-btn {
    height: auto !important;
    padding: 4px 20px !important;
  }
  th.operation,
  td.operation {
    text-align: center !important;
  }
  .ant-card-grid {
    padding: 15px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .ant-pagination {
    z-index: 9999;
    float: right;
    margin-top: 20px !important;
  }
  .ant-table {
    font-size: 12px !important;
    th{
      text-align: center !important;
    }
    td{
      text-align: center !important;
    }
  }
}
